<md-card>
    <md-grid-list cols="3" rowHeight="200px">
        <md-grid-tile [colspan]="3" [rowspan]="1">
            <h1>MEAN Authentication App</h1>
            <p>Welcome to this custom MEAN Authentication app built from scratch with Material Design.</p>
        </md-grid-tile>
        <md-grid-tile [colspan]="1" [rowspan]="1">
            <md-grid-tile-header class="tileHeader">
                <h4>Express Backend</h4>
            </md-grid-tile-header>
            <p>Welcome to this custom MEAN Authentication app built from scratch with Material Design.</p>
        </md-grid-tile>
        <md-grid-tile [colspan]="1" [rowspan]="1">
            <md-grid-tile-header class="tileHeader">
                <h4>Angular-CLI</h4>
            </md-grid-tile-header>
            <p>Welcome to this custom MEAN Authentication app built from scratch with Material Design.</p>
        </md-grid-tile>
        <md-grid-tile [colspan]="1" [rowspan]="1">
            <md-grid-tile-header class="tileHeader">
                <h4>JWT Tokens</h4>
            </md-grid-tile-header>
            <p>Welcome to this custom MEAN Authentication app built from scratch with Material Design.</p>
        </md-grid-tile>
    </md-grid-list>
</md-card>
