<md-toolbar color="primary">
    <span>MEAN Auth App</span>
    <button md-button [routerLink]="['/']">Home</button>
    <span class="spacer"></span>
    <button *ngIf="authService.loggedIn()" md-button [routerLink]="['/dashboard']">Dashboard</button>
    <button *ngIf="authService.loggedIn()" md-button [routerLink]="['/profile']">Profile</button>
    <button *ngIf="!authService.loggedIn()" md-button [routerLink]="['/login']">Login</button>
    <button *ngIf="!authService.loggedIn()" md-button [routerLink]="['/register']">Register</button>
    <button *ngIf="authService.loggedIn()" md-button (click)="onLogoutClick()">Logout</button>
</md-toolbar>
